@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  display: table;
}
body > footer {
  display: table-row;
}
footer {
  bottom: 0;
  height: 120px;
  padding: 40px;
  background-image: linear-gradient(
    to right,
    rgb(145, 145, 145),
    rgb(28, 94, 148),
    rgb(145, 145, 145)
  );
  margin: auto;
}

.footer_grid {
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
}
.grid1,
.grid1 a {
  font-size: 15px;
  color: rgb(78, 78, 78);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.social a {
  text-decoration: none;
  color: black;
}
.social {
  padding: 0px 25px;
  font-size: 50px;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
}
.help_note {
  display: flex;
  font-size: 15px;
  padding-top: 20px;
  color: rgb(145, 145, 145);
  justify-content: center;
}

@media screen and (max-width: 800px) {
  footer {
    height: 140px;
    padding: 20px;
  }
  .grid1,
  .grid1 a {
    font-size: 10px;
    padding-bottom: 20px;
  }
  .help_note {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
  }
  .social {
    padding-top: 10px;
    font-size: 35px;
  }
  .grid3 {
    font-size: 12px;
  }
}
